<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center my-4">Todo List</h1>
        <form action="/" method="post">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="content" placeholder="Add a task">
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit">Add Task</button>
                </div>
            </div>
        </form>
        <ul class="list-group">
            {% for task in tasks %}
                <li class="list-group-item">{{ task.title }}</li>
            {% endfor %}
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
